body{
	background-image: url('../images/baseball-field-background-wallpaper-4.jpg') 
}

.jumbtron{
		color:#990000;

}
.container{
	color: #329BEE;
	text-align: center;

}

#intro{
	color: white;
}
p{
	color: white;
	font-size: 15px;
}
#compNum{
	color: white;
	font-size: 15px;
}
#win{
	color: white;
	font-size: 15px;
}

#loss{
	color: white;
	font-size: 15px;
}
#message{
	color: white;
	font-size: 15px;
}
img{
	width: 150px;
	border: 2px solid #329BEE;
	
}
#scoreCount{
	color: white;
	font-size: 15px; 
}

#scoreCount{
	color:white;
	font-size: 15px;
}

button{
	color: #990000;
}

.footer {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

}